<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"> <!--dùng để reset css-->
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/base.css">
    <!-- <link rel="stylesheet" href="./assets/fonts/fontawesome-free-5.15.4/css/all.min.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Gas Detection</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="header__title">
                <h1 class="header__title-name">Gas Detection</h2>
                <h3 class="header__title-desc">Safety for your house</h3>
            </div>
        </div>

        <div class="notify">    
            <div class="notify__icon">
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="notify__msg">
                <span class="notify__msg-text">The amount of gas is</span>
                <span class="notify__msg-text-warn">HIGH</span>
            </div>
            <div class="notify__close">
                <i class="fas fa-times"></i>
            </div>
        </div>

    </header>

    <div class="body-home">
        <a href="/gas" class="body-home__btn btn">Gas</a>
        <a href="/temp" class="body-home__btn btn">Temperature</a>
        <a href="/humid" class="body-home__btn btn">Humidity</a>
    </div>


    <footer>
        <div class="footer">
            <p class="footer__text">© 2022 All Right Reserved S.H.I.E.L.D Group</p>
        </div>
    </footer>
</body>
<script src="static/js/notify.js"></script>
</html>