{% extends "layout.html" %}

    {% block sign %}
        <i class="fas fa-tint"></i>
    {% endblock %}

    {% block body_chart %}
        <div class="data">
            <span class="data-text">Current humidity: </span>
            <span class="data-number">{{ currentData }}</span>
        </div>    
    {% endblock %}

    {% block form %}
        <form class="form" action="/temp" method="get">
            <select class="form-select" name="day">
                <option disabled selected>
                    <span style="padding: 0 10px;">Select date</span>
                </option>
                {% for day in days %}
                <option>
                    <span style="padding: 0 40px;">{{ day }}</span>
                </option>
                {% endfor %} 
            </select>
            <input class="form-input" type="submit" value="Submit">
        </form>

        <p class="curr_day">{{ curr_day }}</p>
    {% endblock %}

    {% block js %}
        <script>

            function main(xValues, yValues) {
                let largest = yValues.reduce(function(x,y) {
                    return (x > y) ? x : y;
                });
        
                new Chart("myChart", {
                    type: "line",
                    data: {
                        labels: xValues,
                        datasets: [{
                        fill: false,
                        lineTension: 0,
                        backgroundColor: "rgba(0,0,255,1.0)",
                        borderColor: "rgba(0,0,255,0.1)",
                        data: yValues
                        }]
                    },
                    options: {
                        legend: {display: false},
                        scales: {
                        yAxes: [{ticks: {min: 0, max:100}}],
                        }
                    }
                });
            }
        
            document.addEventListener('DOMContentLoaded', main({{ points.time|safe }}, {{ points.value|safe }}));
        
        </script>
    {% endblock %}
